<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>The Discography</h1>
          <p class="lead">Music records for your collection.</p>
          
          <br>
          
       
        </div>
        
      </div> <!-- /row -->
  
  	  <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>
      
      </div>
  
  	<br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">
  
  	<hr>
  
  	<div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Who likes to Rock with us</h3></div>
            <div class="panel-body">Here you can see who are the artists that choose us as their own Music Record Discography. See them <a href="artists"> Our Artists </a>.
            </div>
          </div>
        </div>
  
        </div>
      	<div class="col-lg-6">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Our Collection</h3></div>
            <div class="panel-body">We have already 500 LPS ṕroduced with our machines. A High Quality technique for music records. You can see them here: <a href="lps"> Our LPs </a>
            </div>
          </div>
        </div>
    </div>
  
	<div class="row">
        <div class="col-lg-12">
        <br><br>
          ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>
        <br><br>
        </div>
    </div>
</div>

